.navbar-lewagon {
  justify-content: space-between;
  background: #222222;
  margin-top: 38px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
  margin-left: 90px;
}

@media only screen and (max-width: 700px) {
  .navbar-lewagon {
    margin-top: 0px;
  }
  .navbar-lewagon .navbar-brand img {
    display: none;
  }

  .navbar-expand-sm .navbar-nav {
    display: none;
  }
}
